@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(bust.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
/*	background-image: url(gradient_tsvet_sinij_155118_240x320.jpg);*/
/*	background-color: var(--tg-theme-bg-color);*/
background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
	overflow: hidden;
  }

* p, h1, h2, h3, h4, h5, h6 {
	color: white;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#clickCount {
	font-size: 40px;
}


.div16 { 
	color: white;
	margin-top: 12px;
	padding-left: 0px;
	width: 79%;
	display: inline-block;
	font-size: 25px;
}

.div15 {
	display: inline-block;
	background-color: rgba(61, 62, 64, 0.83);
	border-radius: 25px;
	width: 46.25%;
	height: 7vh;
	margin-top: 4vh;
	padding-left: 0px;
	text-align: center;
}

.div19 {
	color: white;
	margin-top: 12px;
	padding-left: 0px;
	width: 79%;
	display: inline-block;
	font-size: 25px;
}

.div18 {
	margin-right: 2.25%;
	margin-left: 2.25%;
	display: inline-block;
	background-color: rgba(61, 62, 64, 0.83);
	border-radius: 25px;
	width: 46.25%;
	height: 7vh;
	margin-top: 7px;
	padding-left: 0px;
	text-align: center;
}

.skvad {
	box-shadow: 0px -100px 150px 3px rgb(13, 0, 158);
	background-color: rgba(61, 62, 64, 0.83);
	border-radius: 25px;
	width: 95%;
	height: 9.3vh;
	margin: auto;
	margin-top: 3vh;
/*	box-shadow: 0px 0px 100px -19px rgb(255, 255, 255); */
}


.skvad_name, p {
	color: white;
	height: 20px;
	display: inline-block;
	margin-top: 0px;
}

#clickBtn {
	width: 250px;
	height: auto;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0px 0px 250px 30px rgb(13, 0, 158);
}

.clicker {
	width: 250px;
	height: 35vh;
	margin: auto;
	margin-top: 13vh;   
	
}

#clicker_span {
	color: white;
	font-size: 30px;
}

.score {
	height: 5vh;
	text-align: center;
	width: 90%;
	margin: auto;
	padding-right: 20px;
	margin-top: 10vh;
}

.DCoin_balance {
	width: 1em;
	margin: auto;
	display: inline-block;
}

#DCoin_balance_span {
	color: white;
	font-size: 15px;
  font-style: bold;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding-left: 0px;
	list-style-type: none;
	background-color: rgba(61, 62, 64, 0.83);
	border-radius: 13px;
	height: 7.7vh;
	padding: 10px 20px 0px 20px;
}

.container1 {
	margin: auto;
	width: 90%;
	margin-top: 4vh;
}

.close_button {
	color: white;
}

.elem1 {
	margin-top: 10px;
}

.dialog h1 {
	color: white;
}

.dialog {
	position: absolute;
	display: block;
    top: 0px;
    bottom: 0px;
    margin-top: 0px;
    left: 0px;
	width: 100%;
	height: 100vh;
	background-color: #1d1e21;
}

.p13 {
	color: black;
}

.div14 { 
	color: white;
	margin-top: 25px;
	text-align: center;
	width: 100%;
	display: inline-block;
	font-size: 18px;
}

#progress-bar {
	width: 100%;
	margin-top: 7vh;
	height: 30px;
}

.progressbar_div {
	width: 90%;
	margin: auto;
}


/* 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

main {
  padding: 0px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  border-radius: 10px;
  width: 100%;
  max-width: 95%;
  height: 60px;
}

.alert-2-success {
  border-bottom: 4px solid #ffffff;
  border-bottom-width: 20%;
  background-color: rgba(30, 255, 0, 0.719);
  width: 100%;
}
.alert-2-success .alert-title {
  color: #ffffff;
  margin-top: 20px;
}

.alert-title {
	text-align: center;
  margin-top: 0;
  margin-bottom: 4px;
  margin: auto;
  width: 100%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.alert-content {
  margin: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
} */

  .toast {
	display: none;
	z-index: 1000;
	position: absolute;
	height: 30px;
	top: 25px;
	right: 30px;
	border-radius: 12px;
	background: #fff;
	padding: 12px 35px 22px 25px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transform: translateX(calc(100% + 30px));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
.div20 {
	
	display: none;
}


  .toast.active {
	transform: translateX(5%);
  }
  
  
  .toast .toast-content {
	display: flex;
	align-items: center;
  }
  
  .toast-content .check {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	min-width: 35px;
	background-color: #4070f4;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
  }
  
  .toast-content .message {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
  }
  
  .message .text {
	font-size: 16px;
	font-weight: 400;
	color: #666666;
  }
  
  .message .text.text-1 {
	font-weight: 600;
	color: #333;
  }
  
  .toast .close {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 5px;
	cursor: pointer;
	opacity: 0.7;
  }
  
  .toast .close:hover {
	opacity: 1;
  }
  
  .toast .progress {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
  
  }
  
  .toast .progress:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #4070f4;
  }
  
  .progress.active:before {
	animation: progress 5s linear forwards;
  }
  
  @keyframes progress {
	100% {
	  right: 100%;
	  display: none;
	}
  }
  

  
  .toast.active ~ button {
	pointer-events: none;
  }
  

  .a678 {
	color: black;
	margin-top: 6px;

  }




/* кроссбар по нулям */ 


.toast1 {
	display: none;
	z-index: 1000;
	position: absolute;
	top: 25px;
	right: 30px;
	height: 48px;
	border-radius: 12px;
	background: #fff;
	padding: 12px 35px 22px 25px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transform: translateX(calc(100% + 30px));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
.div201 {
	display: none;
}
  
  .toast1.active1 {
	transform: translateX(5%);
  }
  
  .toast1 .toast-content {
	display: flex;
	align-items: center;
  }
  
  .toast-content .check {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	min-width: 35px;
	background-color: #4070f4;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
  }
  
  .toast-content .message1 {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
  }
  
  .message1 .text {
	font-size: 16px;
	font-weight: 400;
	color: #666666;
  }
  
  .message1 .text.text-1 {
	font-weight: 600;
	color: #333;
  }

  .text-2 {
  	margin-top: 3px;
  }
  
  .toast1 .close1 {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 5px;
	cursor: pointer;
	opacity: 0.7;
  }
  
  .toast1 .close1:hover {
	opacity: 1;
  }
  
  .toast1 .progress1 {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
  
  }
  
  .toast1 .progress1:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #4070f4;
  }
  
  .progress1.active1:before {
	animation: progress 5s linear forwards;
  }
  
  @keyframes progress1 {
	100% {
	  right: 100%;
	}
  }
  
  .toast1.active1 ~ button {
	pointer-events: none;
  }
  

  .a6781 {
	color: black;
	margin-top: 15px;
  }


  .r6598 {
	margin-left: 10px;
  }

/*  ВЫВОД СРЕДСТВ*/


.div30 {
	margin-left: 14%;
/*	border: solid;*/
/*	border: solid 1px white;	*/
	display: inline-block;
	height: 30px;
	color: #ff595f;
	width: 120px;
	text-align: center;
	background-color: #382827;
	border-radius: 50px;
	font-size: 13px;
	margin-top: 30px;
}

.div_vivod {
	display: inline-block;
	height: 20px;
/*	border: solid;	*/
/*	border-color: white;*/
	margin-top: 5px;
}



.voskl {
	margin-top: 2px;
/*	border: solid 1px white;	*/
	border-radius: 50px;
	padding-left: 5.8px;
	padding-right: 5.89px;
	background-color: #ff595f;
  width: auto;
  display: inline-block;
  height: 15px;
  margin-left: 5px;
  color: black;
}



.div32 {
	width: 100%;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}

#tg {
	width: 95%;
	margin: auto;
/*	border: solid;*/
}


/*label*/

.label {
	margin-left: 3%;
	display: block;
	color: white;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 20px;
}

.label1 {
	margin-left: 3%;
	margin-top: 0px;
	display: inline-block;
	width: 100%;
/*	border: solid;*/
	margin-bottom: 10px;
}

.label p {
/*	margin-top: 20px;*/
/*	border:solid;*/
	text-align: left;
}

.input1 {
	margin: 0px;
	margin-left: 2%; 
	background-color: #15161a;
	color: white;
	border: none;
	width: 90%;
	height: 50px;
	border-radius: 10px;
	display: inline-block;
	padding-left: 15px;
	font-size: 15px;
}

.input__file {
	width: 94%;
	margin-left: 2.25%;
	background-color: #15161a;
	height: 50px;
	border-radius: 10px;
}

.pavatar {
	font-size: 12px;
	margin-top: 20px;
	width: 90%;
	color: rgba(255, 255, 255, 0.6);
	margin-left: 2.25%;

}

.dialog {
	height: 200vh;

}

.next {
	background-color: #33353B;
	width: 100px;
	height: 40px;
	color: white;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	float: right;
	margin-top: 25px;
	margin-right: 4%;
}

.next p {
	margin-top: 11px;
}

.coming_soon {
	margin: 0px;
	margin-left: 2%; 
	background-color: #15161a;
	color: white;
	border: none;
	width: 90%;
	height: 50px;
	border-radius: 10px;
	display: inline-block;
	padding-left: 15px;
	font-size: 15px;
	text-align: center;
}

.coming_soon p {
	margin-top: 17px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}